body {
    margin: 0;
    padding: 3em 1em;
    background: #D3D1D1;
    color: #333;
    line-height: 1.5;
}
#wrapper {
    width: 600px;
    margin: auto;
}
body, th, td, input {
    font: 14px 'Source Sans Pro', Arial, sans-serifsans-serif;
}
.section {
	background: #FFF;
	position: relative;
	padding: 2em 2.4em;
	margin: 3em auto 4em auto;
    width: 80%;
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
}
.section:before, .section:after {
	content: "";
	position: absolute;
	z-index: -2;
}
.section {
    -moz-border-radius: 4px;
    border-radius: 4px;
}
.section:before, .section:after {
	bottom: 15px;
	left: 10px;
	width: 50%;
	height: 20%;
	max-width: 300px;
	max-height: 100px;
    -webkit-box-shadow: 0 15px 10px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0 15px 10px rgba(0, 0, 0, 0.5);
    box-shadow: 0 15px 10px rgba(0, 0, 0, 0.5);
    -webkit-transform: rotate(-1deg);
    -moz-transform: rotate(-1deg);
    -ms-transform: rotate(-1deg);
    -o-transform: rotate(-1deg);
    transform: rotate(-1deg);
}
.section:after {
    right: 10px;
    left: auto;
    -webkit-transform: rotate(1deg);
    -moz-transform: rotate(1deg);
    -ms-transform: rotate(1deg);
    -o-transform: rotate(1deg);
    transform: rotate(1deg);
}
a:link, a:visited {
    color: #0004b2;   
    text-decoration: none;
}
a:hover {
    color: #ac0000;
    text-decoration: none;
    border-bottom: 1px solid #999;
}
h1 {
    font: 2.7em 'Ropa Sans', 'Trebuchet MS', Helvetica, Arial, sans-serif;
    color: #000;
    margin: 0 0;
    padding: 0 0 0.2em 0;
    font-weight: normal;
    text-align: center;
    text-shadow: 2px 2px #FFF;
}
h2 {
    font-size: 1.3em;
    color: #FFF;
    margin: -2.5em 0 0.8em 0;
    float: left;
    background: #FF0000;
    padding: 0.4em 0.8em;
    border-radius: 0.2em;
    font-weight: normal;
    text-align: center; 
}
h3 {
    text-transform: uppercase;
    font-weight: bold;
}
h2 + * {
    clear: both;
}
@media (max-width: 650px) {
    #wrapper {
        width: 100%;
    }
}